.plant-card{
    border: 2px solid black;
    padding: 7px 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.plant-title{
    font-size: 25px;
    font-style: italic;
}

.plant-card-img{
height: 100px;
width: 140px;
object-fit: cover;
position: absolute;
top: 10px;
right: 10px;
border-radius: 6px;
}

.plant-card-action-button{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 3px 20px;
    margin: 0 20px;
    text-decoration: none;
}