.plant-input{
    display: block;
    margin: 10px;
    width: 200px
}

.img-preview{
    height: 100px;
    width: 150px;
    object-fit: cover;
}

.input-container{
    border: 1px solid black;
    width: 400px;
    height: 450px;
    margin: 10px auto;
}